src/wsdl/localhost_8080/RegressorWS/RegressorWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.regressao.tcc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.regressao.tcc.com/" name="RegressorWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.regressao.tcc.com/" schemaLocation="http://localhost:8080/RegressorWS/RegressorWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getThetaAsVectorForBank">
<part name="parameters" element="tns:getThetaAsVectorForBank"/>
</message>
<message name="getThetaAsVectorForBankResponse">
<part name="parameters" element="tns:getThetaAsVectorForBankResponse"/>
</message>
<message name="getThetaAsVectorForGrocery">
<part name="parameters" element="tns:getThetaAsVectorForGrocery"/>
</message>
<message name="getThetaAsVectorForGroceryResponse">
<part name="parameters" element="tns:getThetaAsVectorForGroceryResponse"/>
</message>
<message name="getThetaAsVectorForRestaurant">
<part name="parameters" element="tns:getThetaAsVectorForRestaurant"/>
</message>
<message name="getThetaAsVectorForRestaurantResponse">
<part name="parameters" element="tns:getThetaAsVectorForRestaurantResponse"/>
</message>
<portType name="RegressorWS">
<operation name="getThetaAsVectorForBank">
<input wsam:Action="http://ws.regressao.tcc.com/RegressorWS/getThetaAsVectorForBankRequest" message="tns:getThetaAsVectorForBank"/>
<output wsam:Action="http://ws.regressao.tcc.com/RegressorWS/getThetaAsVectorForBankResponse" message="tns:getThetaAsVectorForBankResponse"/>
</operation>
<operation name="getThetaAsVectorForGrocery">
<input wsam:Action="http://ws.regressao.tcc.com/RegressorWS/getThetaAsVectorForGroceryRequest" message="tns:getThetaAsVectorForGrocery"/>
<output wsam:Action="http://ws.regressao.tcc.com/RegressorWS/getThetaAsVectorForGroceryResponse" message="tns:getThetaAsVectorForGroceryResponse"/>
</operation>
<operation name="getThetaAsVectorForRestaurant">
<input wsam:Action="http://ws.regressao.tcc.com/RegressorWS/getThetaAsVectorForRestaurantRequest" message="tns:getThetaAsVectorForRestaurant"/>
<output wsam:Action="http://ws.regressao.tcc.com/RegressorWS/getThetaAsVectorForRestaurantResponse" message="tns:getThetaAsVectorForRestaurantResponse"/>
</operation>
</portType>
<binding name="RegressorWSPortBinding" type="tns:RegressorWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getThetaAsVectorForBank">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getThetaAsVectorForGrocery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getThetaAsVectorForRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RegressorWS">
<port name="RegressorWSPort" binding="tns:RegressorWSPortBinding">
<soap:address location="http://localhost:8080/RegressorWS/RegressorWS"/>
</port>
</service>
</definitions>